/* ===================================================
About Us Section
=================================================== */
.our-story {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.story-text-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    align-items: center;
    text-align: justify;
}

.placeholder {
    width: 100%;
    height: 350px;
    background-color: var(--dark-red);
    border-radius: 40px;
}

.story-text-container h2 {
    color: #B1261F;
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 15px;
}

.right-align h2 {
    text-align: right;
}
